extends layout

block content
    .right.floated.left.aligned.six.wide.column
        .ui.segment
            .ui.left.aligned.header <img class="ui small image" src="/images/agpLogo.png"> 
            legend Forgot Password
    form(method='POST', style="max-width: 300px;")
        .form-group
            label(for='email') Email
            input.form-control(type='text', name='email', autofocus)
        button.btn.btn-primary(type='submit') Reset Password
        &nbsp;   
        a(href="/login")
            button.btn.btn-primary(type='button') Back to Login