extends layout
block scripts
    script.
        var rowIndex=0;
        $(document).ready(function(){
           $(".start_date").change(function(){
              
              var sdate = $(this).val();
              var date = new Date(sdate);
              var year = date.getFullYear(); 
              $("#year"+rowIndex).val(year);
              rowIndex++;
            });
            $(".start_date").datepicker({dateFormat: "yy-mm-dd"});
            
        });
block content
  if (!user)
     .ui.raised.very.padded.text.container.segment
       <img class="ui medium image" src="/images/agpLogo.png">
       .ui.warning.message
         i.close.icon
         .header
            | You must register before you can do that!
          |   Visit our registration page, then try again      
        .ui.header
        .ui.steps
          a.step(href="/login")
            i.sign.in.icon
            .content
              .title Sign in
              .description Sign Into your Account.
          a.step(href="/register")
            i.add.user.icon
            .content
              .title Sign Up
              .description Sign up for an Account.
  if (user)
    if (user.username == "admin")
      .right.floated.left.aligned.six.wide.column
        .ui.segment
          .ui.left.aligned.header 
            a(href='http://www.pathfinder1.com.au')
              img.ui.small.image(src='/images/agpLogo.png')
        .ui.top.attached.tabular.menu
          a.active.item(href="/") Home
          a.item(href="/showallusers") Show All Users
          a.item(href="/showinvoices") Show All Invoices
          a.item(href="/removeusers") Remove Users
          a.item(href="/remove") Remove Shifts
          a.item(href="/selectiveshifts") Show Shifts With Site Name
          a.item(href="/sendText") Send Reminders
          a.item(href="/logout") Logout
          .item 
        .ui.bottom.attached.active.tab.segment
          | Hi <strong>#{user.firstname}</strong>, what would you like to do today?
          form(role='form', action="/holidays/", method="post", style='max-width: 50%;')  
              table#publicTable
                tr 
                  th Date
                  th Public Holiday
                  th Year
                tbody
                  tr  
                    td            
                      .form-group
                          input.form-control(type="text", name="date", placeholder='select date', class="start_date", id="start_date0",  required='' autofocus='')
                    td
                      .form-group
                          input.form-control(readonly name="name" value="New Year")
                    td
                      .form-group
                          input.form-control(readonly , name="year", class="year", id="year0")
                  tr  
                    td            
                      .form-group
                          input.form-control(type="text", name="date", placeholder='select date', class="start_date", id="start_date1" required='' autofocus='')
                    td
                      .form-group
                      input.form-control(readonly  name="name" value="Australia Day")
                    td
                      .form-group
                          input.form-control(readonly , name="year", class="year", id="year1")
                  tr  
                    td            
                      .form-group
                          input.form-control(type="text", name="date", placeholder='select date', class="start_date", id="start_date2" required='' autofocus='')
                    td
                      .form-group
                        input.form-control(readonly  name="name" value="Labour Day")
                    td
                      .form-group
                          input.form-control(readonly , name="year", class="year", id="year2")
                  tr  
                    td            
                      .form-group
                          input.form-control(type="text", name="date", placeholder='select date', class="start_date", id="start_date3" required='' autofocus='')
                    td
                      .form-group
                        input.form-control(readonly  name="name" value="Good Friday")
                    td
                      .form-group
                          input.form-control(readonly , name="year", class="year", id="year3")
                  tr  
                    td            
                      .form-group
                          input.form-control(type="text", name="date", placeholder='select date', class="start_date", id="start_date4" required='' autofocus='')
                    td
                      .form-group
                        input.form-control(readonly  name="name" value="Holy Saturday")
                    td
                      .form-group
                          input.form-control(readonly , name="year", class="year", id="year4")
                  tr  
                    td            
                      .form-group
                          input.form-control(type="text", name="date", placeholder='select date', class="start_date", id="start_date5" required='' autofocus='')
                    td
                      .form-group
                        input.form-control(readonly  name="name" value="Easter Sunday")
                    td
                      .form-group
                          input.form-control(readonly , name="year", class="year", id="year5")
                  tr  
                    td            
                      .form-group
                          input.form-control(type="text", name="date", placeholder='select date', class="start_date", id="start_date6" required='' autofocus='')
                    td
                      .form-group
                        input.form-control(readonly  name="name" value="Easter Monday")
                    td
                      .form-group
                          input.form-control(readonly , name="year", class="year", id="year6")
                  tr  
                    td            
                      .form-group
                          input.form-control(type="text", name="date", placeholder='select date', class="start_date", id="start_date7" required='' autofocus='')
                    td
                      .form-group
                        input.form-control(readonly  name="name" value="Anzac Day")
                    td
                      .form-group
                          input.form-control(readonly , name="year", class="year", id="year7")
                  tr  
                    td            
                      .form-group
                          input.form-control(type="text", name="date", placeholder='select date', class="start_date", id="start_date8" required='' autofocus='')
                    td
                      .form-group
                        input.form-control(readonly  name="name" value="Queen's Birthday")
                    td
                      .form-group
                          input.form-control(readonly , name="year", class="year", id="year8")
                  tr  
                    td            
                      .form-group
                          input.form-control(type="text", name="date", placeholder='select date', class="start_date", id="start_date9" required='' autofocus='')
                    td
                      .form-group
                        input.form-control(readonly  name="name" value="AFL Grand Final")
                    td
                      .form-group
                          input.form-control(readonly , name="year", class="year", id="year9")
                  tr  
                    td            
                      .form-group
                          input.form-control(type="text", name="date", placeholder='select date', class="start_date", id="start_date10" required='' autofocus='')
                    td
                      .form-group
                        input.form-control(readonly  name="name" value="Melbourne Cup Day")
                    td
                      .form-group
                          input.form-control(readonly , name="year", class="year", id="year10")
                  tr  
                    td            
                      .form-group
                          input.form-control(type="text", name="date", placeholder='select date', class="start_date", id="start_date11" required='' autofocus='')
                    td
                      .form-group
                        input.form-control(readonly  name="name" value="Christmas")
                    td
                      .form-group
                          input.form-control(readonly , name="year", class="year", id="year11")
                  tr  
                    td            
                      .form-group
                          input.form-control(type="text", name="date", placeholder='select date', class="start_date", id="start_date12" required='' autofocus='')
                    td
                      .form-group
                        input.form-control(readonly  name="name" value="Boxing Day")
                    td
                      .form-group
                          input.form-control(readonly , name="year", class="year", id="year12")
              br
              button.btn.btn-default(type='submit') Submit
    else
      .right.floated.left.aligned.six.wide.column
        .ui.segment
          .ui.left.aligned.header 
            a(href='http://www.pathfinder1.com.au')
              img.ui.small.image(src='/images/agpLogo.png')
      .ui.top.attached.tabular.menu
        a.active.item(href="/") Home
        a.item(href="/pages/add") Add Shifts
        a.item(href="/pages/all") Show All Shifts
        a.item(href="/logout") Logout
        .item 
      .ui.bottom.attached.active.tab.segment 
        | Hi <strong>#{user.firstname}</strong>, what would you like to do today?