extends layout

block content
  .container
    br
    .ui.segment
      .ui.center.aligned.header <img class="ui medium image" src="/images/agpLogo.png">
      .ui.clearing.divider
      .ui.three.column.doubling.stackable.grid.container
        .ui.column
          form(role='form', action="/login",method="post", style=' margin-left: 35%;')
            .form-group
                h4 Login
                input.form-control(type='text', name="username", placeholder='Enter Username', autofocus='' required='')
            .form-group
              h4 Password
              input.form-control(type='password', name="password", placeholder='Password' required='')
            button.ui.right.aligned.labeled.icon.button(type='submit')
              i.right.arrow.icon
              |   Sign in
            br  
            a(href="/forgot") 
                | Forgot Password?
            -if(message)
              - for items in message
                  - for stuff in items
                      br
                      .alert.alert-danger #{stuff}
          
        .ui.column
          .ui.vertical.divider OR
         .ui.column
          br
          a(href="/register")  
            .ui.big.green.labeled.icon.button
              i.signup.icon
              |       Sign Up