body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, td, th {
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    width: 100%;
    table-layout:auto;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}
td {
    height: 50px;
    vertical-align: center;
    text-align: center;
    
}
th{
  text-align: center;
}
tr:hover {background-color: #f5f5f5}
tr.shift {
  display: none;
}

.ui.big.green.labeled.icon.button {
  top: 28%;
}

.ui.right.aligned.labeled.icon.button{
  left: 42%;
}
.ui.segment{
  top: 10%;
}
.ui.raised.very.padded.text.container.segment{
background:#b3b3b3;
}
.error {
    color:red;
    border: solid 1px red;
}
.valid {
     border: solid 1px green;
     color:green;
}
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}